*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
nav ul{
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    padding: 1rem;
    height: 100%;
}
nav ul li{
    margin: 0.5rem 0;
    list-style: none;
    display: inline-block;
}
li a{
    background-color: white;
    text-decoration: none;
    color: black;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a:hover{
    background-color: salmon;
}
nav ul li span.desc_menu{
    font-size: smaller;
    position: absolute;
    left: 1;
    visibility: hidden;
    background-color: salmon;
    padding: 0.3rem 0.5rem;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2rem;
    border: solid #1f628d 0.15rem;
}
nav ul li a:hover .desc_menu{
    visibility: visible;
    transition: all 0.5s ease-out;
    left: 4.8rem;
}
main div.header{
    background-color: blue;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10rem;
}
div p.text-bg{
    background-color: aquamarine;
    color: rgb(114, 114, 114);
    opacity: 40%;
    display: inline-block;
}
.Container{
    background-color: saddlebrown;
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem 1rem 15rem;
}
main div.Container{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.cardLong{
    background-color: blanchedalmond;
    /* width: 50%; */
    width: 25%;
    height: 18rem;
    /* margin: 1rem 0.8rem; */
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
    flex-grow: 1;
}
div a{
    color: black;
}
div.cardLong:hover{
    -webkit-box-shadow: 0 0 1rem yellow;
    -moz-box-shadow: 0 0 1rem yellow;
    box-shadow: 0 0 1rem yellow;
}
.cardShort{
    background-color: yellow;
    width: 25%;
    height: 18rem;
    /* margin: 1rem 0.8rem; */
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2rem;
    padding-bottom: 2rem;
    cursor: pointer;
}
div.cardShort:hover{
    -webkit-box-shadow: 0 0 1rem blanchedalmond;
    -moz-box-shadow: 0 0 1rem blanchedalmond;
    box-shadow: 0 0 1rem blanchedalmond;
}
div.cardLong:hover a{
    color: blue;
}
div.cardShort:hover a{
    color: blue;
}
div.img{
    height: 75%;
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    overflow: hidden;
}
div div.img img#photoprofile{
    margin: 1rem 1rem;
    /* width: 40%; */
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
}
.title{
    margin: 0 2rem;
    line-height: 1.5;
}
div div.text{
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem 2rem;

}
div.cardShort div.img img.portf-1{
    margin: 3rem 1rem;
    /* width: 70%; */
    width: 10rem;
    height: 10rem;
}
div.cardShort div.img img.portf-2{
    margin: 3rem 2rem;
    /* width: 70%; */
    width: 10rem;
    height: 10rem;
}
div.cardLong div.img img.portf-2{
    margin: 3rem 2rem;
    /* width: 40%; */
    width: 10rem;
    height: 10rem;
}
div div.title p{
    background-color: aquamarine;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    letter-spacing: -0.05rem;
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 1;
}

div div.text h2.work, div.web div.text h2{
    background-color: blue;
    display: inline-block;
    line-height: 1;
}
div div.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
div div.connect div.text p{
    background-color: rebeccapurple;
    width: 70%;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}
.un-text{
    margin: 2rem 2rem 0 1.5rem;
    display: inline-block;
    background-color: aqua;
}
div div.un-img ul.skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
div ul li.codes{
    list-style: none;
    margin: 3% 5%;
    width: max-content;
}
div ul li.codes img{
    width: 6rem;
    height: 6rem;
}
@media only screen and (max-width: 1250px){
    div.percobaan{
        justify-content: center;
    }
    div.percobaan div.cardLong{
        width: 40%;
    }
    div.percobaan div.cardShort{
        width: 30%;
    }
    div.percobaan div.cardLong.web{
        background-color: red;
        width: 100%;
    }
    div.percobaan div.cardLong.skills{
        width: 100%;
        height: fit-content;
    }
    div div.un-img ul.skill{
        margin-left: 1rem;
    }
    div ul li.codes{
        background-color: aqua;
        margin: 0.5rem;
    }
}
@media only screen and (min-width:960px){
    nav ul li i#burger{
        display: none;
    }
}
@media only screen and (max-width: 960px){
    nav ul{
        position: relative;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1rem 0;
    }
    nav ul li{
        margin: 0;
        position: relative;
        margin-right: 2rem;
    }
    nav ul li i#burger{
        background-color: white;
        text-decoration: none;
        color: black;
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    nav ul li a, nav ul li span.desc_menu{
        display: none;
    }
    header{
        font-size: xx-small;
    }
    main div.Container{
        background-color: #1f628d;
        padding: 0;
    }
    div.percobaan div.cardLong, div.percobaan div.cardLong.web{
        width: 80%;
        flex-grow: 0;
    }
    div.percobaan div.cardLong.skills{
        width: 80%;
        height: fit-content;
    }
    div.percobaan div.cardShort{
        width: 80%;
    }
    div.percobaan div.cardLong ul.skill{
        height: fit-content;
    }
}
@media only screen and (max-width: 490px){
    div.percobaan div.cardLong{
        height: fit-content;
    }
    div div.un-img ul.skill{
        gap: 1rem;
        width: 90%;
        margin-left: 1.5rem;
        margin-top: 1rem;
    }
    div ul li.codes{
        margin: 0;
        width: max-content;
    }
    div div.un-img ul.skill li.codes img{
        width: 5rem;
        height: 5rem;
    }
}