*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
div.header{
    background-color: aquamarine;
}
main div.Container{
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
div.c-resume div.carouselShort{
    
}
